<footer class="bg-light py-4">
    <div class="container border rounded border-secondary">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h3>İşte böyle;</h3>
                <p>
                    Ergenekon, demir dağlar arasında sıkışmış kalan Oğuz Türklerinin destanıdır.
                    Moğol baskısından kaçan Türk kavimleri, demir dağlara sığınmıştır.
                    Burada 400 yıl boyunca yaşayan kavim, sonunda demir dağları eriterek yeniden özgürlüğüne kavuşur.
                    Ergenekon Destanı, Türklerin direniş ve yeniden doğuş simgesidir.
                </p>
            </div>

           
        </div>
        <div class="text-center mt-4">
            <p>©<script>document.write(new Date().getFullYear());</script> - Bütün hakları saklıdır falan filan. </p>
        </div>
    </div>
</footer>
