
<nav aria-label="Sayfa Navigasyonu">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link text-decoration-none" href="#">1</a></li>
        <li class="page-item"><a class="page-link text-decoration-none" href="#">2</a></li>
        <li class="page-item"><a class="page-link text-decoration-none" href="#">3</a></li>
        <li class="page-item"><a class="page-link text-decoration-none" href="#">4</a></li>
        <li class="page-item"><a class="page-link text-decoration-none" href="#">...</a></li>
        <li class="page-item"><a class="page-link text-decoration-none" href="#">15</a></li>
    </ul>
</nav>