<!DOCTYPE html>
<html lang="en">

<partial name="~/Views/Shared/Partials/_HeadPartial.cshtml"></partial>


<body>
    <partial name="~/Views/Shared/Partials/_HeaderPartial.cshtml"></partial>
    <div class="container">
        <main role="main" class="pb-3">


            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-8">
                        @RenderBody()
                    </div>

                    <div class="col-lg-4">


                        <div class="mb-4">
                            <form class="d-flex" asp-action="PostsBySearch" asp-controller="Home" method="get">
                                <input class="form-control me-2" name="query" type="search" placeholder="Aramak istediğiniz kelimeyi yazın." aria-label="Arama">
                                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>



                        @await Component.InvokeAsync("PopulerPosts")

                        @await Component.InvokeAsync("Categories")

                        @await Component.InvokeAsync("Tags")



                    </div>
                </div>
            </div>



        </main>
    </div>

    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml"></partial>
    <partial name="~/Views/Shared/Partials/_ScriptPartial.cshtml"></partial>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
