@model List<PostsWithImageViewModel>

<div class="mb-4">
    <h3>Popüler Gönderiler</h3>
    <ul class="list-unstyled">
        @foreach (var item in Model)
        {
            <li class="mb-3 d-flex">

                <img src="@item.ImageUrl" class="me-3 rounded" alt="Image placeholder" width="64" height="64">
                <div>
                    <h6><a href="@Url.Action("PostSingle","Home",new{item.Id})" class="text-decoration-none text-dark">@item.Title</a></h6>
                    <small class="text-muted">@item.CreatedAt</small>
                </div>
            </li>
        }
       

    </ul>
</div>
